{% macro footer() %}
<footer class="footer text-muted">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 order-last order-lg-first">
				<ul class="list-inline">
					<li class="list-inline-item">Powered by <a href="https://www.getzola.org/">Zola</a></li>
				</ul>
			</div>
			<div class="col-lg-8 order-first order-lg-last text-lg-end">
				<ul class="list-inline">
					<li class="list-inline-item">
						Proudly part of the <a href="https://polyring.ch">Polyring blogging network.</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
{% endmacro %}
