{% macro navigation(paginator) %}
<div class="blog-navigation">
	{% if paginator.previous %}
	<a href="{{ paginator.previous | safe }}">
		<div class="icon-text">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16">
				<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
			</svg>
			<span>Newer</span>
		</div>
	</a>
	{% endif %}
	{% if paginator.next %}
	<a class="item-right" href="{{ paginator.next | safe }}">
		<div class="icon-text">
			<span>Older</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16">
				<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
			</svg>
		</div>
	</a>
	{% endif %}
</div>
{% endmacro %}
