{% extends "section.html" %}

{% block body %}
  {% set page_class = "blog" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set current_section = "blog" %}
  {{ header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="container" role="document">
  <div class="content">
    <article class="center">
      <h1 id="blog">{{ section.title }}</h1>
      <div class="post-list">
        {% for page in paginator.pages %}
        <div>
            <h3><a class="stretched-link text-body" href="{{ page.permalink }}">{{ page.title }}</a></h3>
            {% if page.extra.lead %}
              <p class="lead">{{ page.extra.lead | safe }}</p>{% elif page.description %}<p class="lead">{{ page.description | safe }}</p>{% endif %}
            {{ publish::page_publish_metadata(page=page) }}
        </div>
        {% endfor %}
        {% if paginator.previous or paginator.next %}
          {{ section_nav::navigation(paginator=paginator) }}
        {% endif %}
      </div>
    </article>
  </div>
</div>
{% endblock content %}
