{%- import 'macros/head.html' as head-%}
{% import 'macros/math.html' as math -%}
{% import 'macros/header.html' as header -%}
{% import 'macros/footer.html' as footer -%}
{% import 'macros/javascript.html' as js -%}
{% import 'macros/page-publish-metadata.html' as publish -%}
{% import 'macros/section-navigation.html' as section_nav -%}
{% import 'macros/toc.html' as toc -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{ head::resource() }}
{{ head::stylesheet() }}

{% block seo %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}
{% endblock seo %}

{{ head::favicons() }}
{% block math %}{{ math::math() }}{% endblock math %}
</head>
{% block body %}{% set page_class="home" %}{% endblock body %}
<body hx-ext="preload" class="{{ page_class }}">
  <script>
    const theme = localStorage.getItem('theme') || 'light';
    document.body.className = theme;
  </script>
  {% block header %}
    {{ header::header(current_section="/") }}
  {% endblock header %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {{ footer::footer() }}
  {% endblock footer %}

  {{ js::javascript() }}
</body>
</html>
