{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}

  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

  {% set description = config.description %}

  {{ head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block body %}
  {% set page_class = "" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set current_section = "blog" %}
  {{ header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
  {% set blog_section = get_section(path="blog/_index.md") %}
  <div class="content">
    <div class="tagbox">
      <h1 class="tagline">Oh hi, I'm Julian!</h1>
      <p class="intro">And this is my little corner on the internet.<br>
      Here you'll find <a href="/blog">my blog posts</a>, some content from <a href="/eth">my studies</a> and other <a href="/fractions">random</a> things.</p>
    </div>
    <div class="split">
      <div class="polyring-box">
        <webring-banner id="polyring-banner">
          <p>Member of the <a href="https://polyring.ch">Polyring</a> webring</p>
        </webring-banner>
        <script async src="https://polyring.ch/embed.js" charset="utf-8"></script>
      </div>
      <div>
        <h1 class="text-right">Latest articles</h1>
        <div class="homepage-post-list">
          {% for page in blog_section.pages | slice(end=3) %}
            <div>
                <h3><a class="text-body" href="{{ page.permalink }}">{{ page.title }}</a></h3>
                {% if page.extra.lead %}
                <p class="lead">{{ page.extra.lead | safe }}</p>
                {% elif page.description %}<p class="lead">{{
                  page.description | safe }}</p>
                {% endif %}
                {{ publish::page_publish_metadata(page=page) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}