.container {
    margin: 0 auto;
}

.content {
    margin-top: 2rem;
    padding: 0 5vw; 
    margin-bottom: 1.5rem;
}

.tagline {
    font-size: 8vw;
    line-height: 1em;
    margin-bottom: 1rem;
}

.intro {
    font-size: 2rem;
    font-weight: 200;
    max-width: 40ch;
}
 
#blog {
    margin-top: 0.25em;
    font-weight: 200;
}

.polyring-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.post-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.split {
    display: flex;
    gap: 1em;
}

@media (max-width: 992px) {
    .split {
        flex-direction: column; 
    }

    .intro {
        font-size: 1.25rem;
    }

}

@media (min-width: 993px) {
    #blog {
        text-align: end;
    }

    .post-list {
        align-items: end;
        text-align: end;
    }

    .tagbox {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

.split div {
    flex: 1;
}

.item-right {
    margin-left: auto;
    justify-self: end;
}

.icon-text {
    display: flex;
    gap: 0.25rem;
}

h1:has(+ span), h2:has(+ span), h3:has(+ span) {
    margin-bottom: 0px;
}