.page-header {
    margin-bottom: 0.75em;
}

.center {
    max-width: 70ch;
    margin: 0 auto;
}

.blog-text {
    max-width: 70ch;
}

.blog-navigation {
    margin-top: 1rem;
    display: flex;
}

.blog-navigation a {
    text-decoration: none;
}
