canvas {
    display: block;
    margin: 0.5rem 0px;
    width: 350px;
    height: 350px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.download-link {
    background-color: rgb(33, 150, 243);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.download-link:hover {
    background-color: rgb(24, 85, 146);
    text-decoration: underline;
    transition: 100ms;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.canvas-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}