/** Theme variables */

// Source: https://material.io/design/color/dark-theme.html

$body-bg-dark: $gray-900;
$body-overlay-dark: darken($body-bg-dark, 2.5%);
$border-dark: lighten($body-bg-dark, 5%);
$body-color-dark: $gray-300;
$dots-dark: darken($body-color-dark, 50%);

$link-color-dark: $blue-300;
$button-color-dark: $link-color-dark;
$focus-color-dark: lighten($link-color-dark, 2.5%);

$navbar-dark-color:                 $body-color-dark;
$navbar-dark-hover-color:           $link-color-dark;
$navbar-dark-active-color:          $link-color-dark;

/** Theme styles */

body.dark {
  background: $body-bg-dark;
  color: $body-color-dark;
}

body.dark a {
  color: $link-color-dark;
}

body.dark a.text-body {
  color: $body-color-dark !important;
}

body.dark .btn-primary {
  color: $body-bg-dark !important;
}

body.dark .navbar {
  background: $body-bg-dark;
  opacity: 0.975;
  border-bottom: 1px solid $border-dark;
}

body.dark.home .navbar {
  border-bottom: 0;
}

body.dark .navbar-light .navbar-brand {
  color: $navbar-dark-color !important;
}

body.dark .navbar-light .navbar-nav .nav-link {
  color: $navbar-dark-color;
}

body.dark .navbar-light .navbar-nav .nav-link:is(:hover,:focus) {
  color: $navbar-dark-hover-color;
}

body.dark .card:hover {
  background-color: lighten($color: #212529, $amount: 5%) !important;
}

body.dark .navbar-light .navbar-nav .show > .nav-link,
body.dark .navbar-light .navbar-nav .active > .nav-link,
body.dark .navbar-light .navbar-nav .nav-link.show,
body.dark .navbar-light .navbar-nav .nav-link.active {
  color: $navbar-dark-active-color;
}

body.dark .page-links a {
  color: $body-color-dark;
}

body.dark .page-links a:hover {
  text-decoration: none;
  color: $link-color-dark;
}

body.dark .navbar .btn-link {
  color: $navbar-dark-color;
}

body.dark .content .btn-link {
  color: $link-color-dark;
}

body.dark .content .btn-link:hover {
  color: $link-color-dark;
}

body.dark .navbar .btn-link:hover {
  color: $navbar-dark-hover-color;
}

body.dark .navbar .btn-link:active {
  color: $navbar-dark-active-color;
}

body.dark .border-top {
  border-top: 1px solid $border-dark !important;
}

@media (min-width: 992px) {
  body.dark .sidebar-filler {
    border-right: 1px solid $border-dark;
  }
}

body.dark pre code::-webkit-scrollbar-thumb {
  background: $border-dark;
}

body.dark code {
  background: $body-overlay-dark;
  color: $body-color-dark;
}

body.dark pre code:hover {
  scrollbar-width: thin;
  scrollbar-color: $border-dark transparent;
}

body.dark pre code::-webkit-scrollbar-thumb:hover {
  background: $border-dark;
}

body.dark blockquote {
  border-left: 3px solid $border-dark;
}

body.dark footer {
  border-top: 1px solid $border-dark;
}

body.dark .toc {
  scrollbar-width: thin;
  scrollbar-color: $body-bg-dark $body-bg-dark;
}

body.dark .toc::-webkit-scrollbar {
  width: 5px;
}

body.dark .toc::-webkit-scrollbar-track {
  background: $body-bg-dark;
}

body.dark .toc::-webkit-scrollbar-thumb {
  background: $body-bg-dark;
}

body.dark .toc:hover {
  scrollbar-width: thin;
  scrollbar-color: $border-dark $body-bg-dark;
}

body.dark .toc:hover::-webkit-scrollbar-thumb {
  background: $border-dark;
}

body.dark .toc::-webkit-scrollbar-thumb:hover {
  background: $border-dark;
}

body.dark .page-links li:not(:first-child) {
  border-top: 1px dashed $border-dark;
}

body.dark .card {
  background: $body-bg-dark;
  border: 1px solid $body-color-dark;
}

body.dark .navbar .menu-icon .navicon {
  background: $navbar-dark-color;
}

body.dark .navbar .menu-icon .navicon::before,
body.dark .navbar .menu-icon .navicon::after {
  background: $navbar-dark-color;
}

body.dark .logo-light {
  display: none !important;
}

body.dark .logo-dark {
  display: inline-block !important;
}

body.dark .text-muted {
  color: darken($body-color-dark, 7.5%);
}

body.dark .figure-caption {
  color: $body-color-dark;
}
