@font-face {
  font-family: "Fixel";
  font-style: normal;
  font-weight: 125 950;
  font-display: optional;
  src:
    local("Fixel"),
    url("fonts/FixelVariable-subset.woff2") format("woff2"),
}

@font-face {
  font-family: "Fixel";
  font-style: italic;
  font-weight: 125 950;
  font-display: optional;
  src:
    local("Fixel"),
    url("fonts/FixelVariableItali-subset.woff2") format("woff2"),
}