/* jost-variable - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 125 950;
  font-display: swap;
  src: 
    local("Jost"),
    url("fonts/vendor/jost/jost-variable.woff2") format("woff2"),
}

/* jost-variable-italic - latin */
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 125 950;
  font-display: swap;
  src: 
    local("Jost"),
    url("fonts/vendor/jost/jost-variable-italic.woff2") format("woff2"),
}