body {
    font-family: 'Fixel';
    font-size: 1.15rem;
    background-color: rgb(240, 240, 240);
}

a {
    color: #1d4ed8;
}

a:visited {
    color: #1e40af;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.65em;
}

p, ul, ol {
    margin: 1rem 0;
}